.cart-dropdown-container {
  position: absolute;
  width: 240px;
  display: flex;
  flex-direction: column;
  padding: 20px 20px 15px 20px;
  border: 1px solid black;
  background-color: white;
  top: 100px;
  right: 40px;
  z-index: 5;
  overflow-y: scroll;

  .empty-message {
    font-size: 18px;
    margin: 50px auto;
  }

  .cart-items {
    min-height: 245px;
    display: flex;
    flex-direction: column;
  }

  button {
    margin-top: auto;
  }
}
